{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="container py-5 my-5" style="max-width: 540px;">
  <div class="bg-white p-4 p-sm-5 shadow">

    <h2 class="text-center pb-3">Log in</h2>
    <form method="post" class="pb-3">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="form-group pt-2">
        <button class="btn btn-success btn-lg w-100" type="submit">Log in</button>
      </div>
    </form>
    <p class="text-center m-0">
      <a class="text-center" href="{% url 'account_reset_password' %}">Forgot Password?</a>
    </p>
  </div>
</div>

{% endblock content %}