{% extends "_base.html" %}

{% block content %}


<!-- <section class="header-section">


    <div class="background-image-clipped">
        <img src="{{ business_news.url_to_image }}">
    </div>
    <div class="container header-section-content">
        <div class="d-flex flex-row justify-content-between">


            <div class="content">
                <p class="nav-section-title m-0"><i class="fa fa-hand-point-right" aria-hidden="true"></i> Investment
                    Opportunities</p>
                <h1 class="page-title">{{ business_news.title }}</h1>
            </div>

        </div>
    </div>
</section> -->



<section class="page-content pb-5 ">


    <div class="container py-5" style="max-width: 750px;">

        <div class="col-md-12">
            <div class="text-dark pb-5">



                <div class="header-section-content">
                    <div class="d-flex flex-row justify-content-between">


                        <div class="content">
                            <p class="nav-section-title m-0"><i class="fa fa-hand-point-right" aria-hidden="true"></i>
                                Investment
                                Opportunities</p>
                            <h1 class="page-title">{{ business_news.title }}</h1>
                        </div>

                    </div>
                </div>
            </div>
            <div class="">
                <img class="img-default" src="{{ business_news.url_to_image }}">
            </div>



            <div class="py-5">

                {{ business_news.description }}
            </div>
            <div>
                {{ business_news.content }}
            </div>
        </div>
        <div class="col-md-12 py-5">
            <div class="car ">
                <div class="container-fluid s p-0 mb-4  bg-main">
                    <div class="card-header text-uppercase  font-weight-bold">Click to view more <i
                            class="fa fa-hand-point-down"></i></div>
                    <div class="card-body d-flex flex-row align-items-center ">
                        <i class="fa fa-link"></i>
                        <a target="_blank" href="{{ business_news.url }}" class="text-accent pl-3">
                            {{ business_news.url}}
                        </a>
                    </div>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>

    </div>

</section>
{% endblock %}