{% extends "_base.html" %}

{% block content %}
<section class="header-section bg-primary">


    <div class="background-image-cipped">

    </div>
    <div class="container header-section-content">
        <div class="d-flex flex-row justify-content-between">


            <div class="content text-white">
                <h1 class="page-title m-0">Business News</h1>
                <p class="lead m-0">Lets see what's happening...</p>
            </div>
        </div>
    </div>
</section>





<section>
    <div class="bg-white py-3  ">
        <div class="container ">

            <form class="fom px-0   d-flex flex-row">
                <div class="form-group  ">
                    <label for="tag-select">Tags:</label>
                    <select id="tag-select" {% if tag %}value="{{ selected_tag.name }}" {% endif %} name="tag"
                        class="form-control w-100 rounded-0 form-control-lg">

                        <option value=""></option>
                        {% for tag in tags %}
                        <option {% if tag == selected_tag %}selected{% endif %} value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group  ">
                    <label for="search-input">Search:</label>
                    <div class="d-flex flex-row">

                        <input class="form-control w-100 rounded-0 form-control-lg  " id="search-input" type="search"
                            name="search" value="{{ search_query }}">
                        <button class="form-contro rounded-0 btn btn-lg btn-accent form-control-lg" type="submit"><i
                                class="fa fa-search"></i></button>

                    </div>
                </div>
            </form>
        </div>


    </div>
</section>
<section class="page-content pb-5">
    
    <div class="container">



        <div class="row">

            {% for item in business_news_list %}
            <div
                class="col-12 px-3  px-sm-3 px-md-3  col-sm-6 col-md-6 col-lg-4 col-xl-4  pb-4 pb-sm-3  pb-md-5 ">

                {% include 'business_news/_cards/_business_news_card.html' %}
            </div>
            {% empty %}
            <div class="col-12 py-3 text-danger text-center">
                <p>Sorry no investment opportunity was found</p>
            </div>
            {% endfor %}

        </div>

    </div>
    {% include "_pagination.html" %}

</section>
<!-- <section id="search" class="">
    <div class="container py-5">
        <h2 class="page-title">Search</h2>
        <form action="." method="GET">

            <input class="navbarSearchInput" type="search" name="search">
            <button onclick="toggleSearch()"><i class="fa fa-times"></i></button>
        </form>
    </div>

</section> -->
<script>
    document.getElementById('tag-select').addEventListener('select', function (e) {
        form = document.getElementById('search-form');
        form.submit();
    });
</script>

{% endblock %}