{% extends '_base.html' %}

{% load unicorn %}
{% block content %}

<div class="d-flex justify-content-center bg-primary py-5">
    <div class="container" style="max-width: 550px;">

        <h1 class="pb-5 text-white text-center font-weight-bold">Interest Calculator</h1>

        <div class="interest-calculator bg-white rounded-lg shadow-lg px-5 pt-5 pb-2">
            <form>
                <div class="form-row">
                    <div class="form-group col-7">
                        <label for="interest_capital_input">Capital</label>
                        <input type="number" id="interest_capital_input" class="form-control form-control-lg"
                            placeholder="Capital">
                    </div>
                    <div class="form-group col-5">
                        <label for="interest_rate_input">Rate</label>

                        <input type="number" id="interest_rate_input" class="form-control form-control-lg"
                            placeholder="Rate">

                    </div>
                    <div class="form-group col-7">
                        <label for="interest_time_input">Time</label>

                        <input type="number" id="interest_time_input" class="form-control form-control-lg"
                            placeholder="Time(years)">

                    </div>
                    <div class="form-group col-5">
                        <div class="form-row">
                        <label for="interest_selected_type">Type</label>

                            <select id="interest_selected_type" class="form-control form-control-lg">
                                <option value="s">Simple Interest</option>
                                <option value="c">Compound Interest</option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group col-12">
                        <button type="button" id="calculate_interest_btn"
                            class=" w-100 btn  btn-lg btn-primary">Calculate</button>
                    </div>



                </div>
            </form>

        </div>
        <div class="px-5">
            <div class="col-12 mt-3  mx- bg-white rounded-lg shadow-lg p-3 d-none" id="interest_result_container">
                <h6 class="font-weight-bold p-1 text-center">Result</h6>
                <div class=" p-1 ">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="bg-light p-3 border">

                                    <h6 class="font-weight-bold">Interest</h6>
                                    <h4 class="font-weight-bold " id="interest_result"></h4>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="bg-light p-3 border">

                                    <h6 class="font-weight-bold">Total</h6>
                                    <h4 class="font-weight-bold " id="interest_result_total"></h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script async>
    let interest_capital_input = document.getElementById("interest_capital_input");
    let interest_rate_input = document.getElementById("interest_rate_input");
    let interest_time_input = document.getElementById("interest_time_input");
    let interest_result_element = document.getElementById("interest_result");
    let interest_result_total_element = document.getElementById("interest_result_total");
    let interest_result_container_element = document.getElementById("interest_result_container");
    let interest_selected_type = document.getElementById("interest_selected_type");
    let interest = 0;

    let calculate_button = document.getElementById("calculate_interest_btn");
    calculate_button.addEventListener("click", (e) => {
        e.preventDefault();
        interest_result_container_element.classList.remove("d-none");
        let capital = parseFloat(interest_capital_input.value);
        let rate = parseFloat(interest_rate_input.value);
        let time = parseFloat(interest_time_input.value);

        console.log(interest_capital_input.value, interest_rate_input.value, interest_time_input.value)
        if (interest_selected_type.value == "s") {
            console.log("Doing simple interest");
            // Simple interest
            interest = capital * rate * time / 100;
        } else {
            //Compound interest
            console.log("Doing compound interest");
            interest = capital * (Math.pow((1 + (rate / (100 * 1))), (1 * time)));
        }
        interest_result_element.innerText = interest;
        interest_result_total_element.innerText = interest + capital;
    });
</script>
{% endblock extra_js %}