{% extends "_base.html" %}
{% load static %}

{% block content %}
<section class="header-section bg-primary">


    <div class="background-image-cipped">

    </div>
    <div class="container header-section-content">
        <div class="d-flex flex-row justify-content-between">


            <div class="content text-white">
                <h1 class="page-title m-0">About Us</h1>
                <p class="lead m-0">Who we are and what we stand for...</p>
            </div>
        </div>
    </div>
</section>






<section class="page-content pb-5">
    <div class="bg-light py-5  ">
        <div class="container ">
            {{ configuration.about_us | safe }}
           
        </div>


    </div>
</section>


<section class=" py-5 bg-main position-relative">
    <div class="container " >

        <h2 class="page-title mb-5  pl-3" >Meet the Team</h2>


        <div class="row position-relative">
            {% for person in team_members %}
            <div class="col-6 col-md-4 col-lg-3 py-3 ">
                <div class="team-card text-center">
                    <div class="text-left">

                        <img  src="{{ person.picture.url }}" class="img-default img-thumbnail rounded-circle" style="height: 150px; width: 150px;">
                    </div>
                    <div class="card-body px-0">
                        <p class="font-weight-bold m-0">{{ person.name }}</p>
                        <span class="font-light text-uppercase">{{ person.position }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>

</section>
<section class=" py-5">
    <div class="container" >

        <h2 class="page-title mb-5 border-left-thick-red  pl-3" >Disclaimer</h2>


        <div class="row position-relative">
            <div class="col-md-8">
                {{ configuration.disclaimer | safe }}
            </div>
            <div class="disclaimer-image-container col-md-4  " >
                <img class="img img-default" src="{% static 'images/tac.png' %}">
            </div>

        </div>

    </div>

</section>

{% endblock %}