{% extends "_base.html" %}
{% load static %}

{% block content %}
<section>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for item in slides_count %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for slide in slides %}
            <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %} position-relative ">

                <img class="d-block img-default h-100 w-100" src="{{ slide.picture.url }}" alt="First slide">
                <div class="overlay">
                    <div class="container  h-100">

                        <div
                            class="col-12 pl-md-5 px-lg-0 col-md-8 h-100 px-2 text-white d-flex flex-column justify-content-center">
                            <p class="lead">{{ slide.leading }}</p>
                            <h1 class="display-3 font-weight-bolder">{{ slide.title }}</h1>
                            <p class="lead">{{ slide.trailing }}</p>
                            {% if slide.action_url %}
                            <p>
                                <a href="{{ slide.action_url }}" class="btn btn-lg btn-primary py-3 px-5">
                                    {{ slide.action_text }}
                                </a>
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="carousel-item active position-relative ">

                <img class="d-block img-default h-100 w-100" src="{% static 'images/tac.png' %}" alt="First slide">
                <div class="overlay">
                    <div class="container  h-100">

                        <div
                            class="col-12 pl-md-5 px-lg-0 col-md-8 h-100 px-2 text-white d-flex flex-column justify-content-center">
                            <p class="lead">Welcome to </p>
                            <h1 class="display-3 font-weight-bolder">Envestorr</h1>
                            <p class="lead">Home to everything investment</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a> -->
    </div>
</section>


<section class="page-content bg-main py-5">
    
    <div class="container py-3">
        <h2 class="page-title mb-5 border-left-thick-primary pl-3">News Worldwide</h2>
        <div class="d-flex overflow-x-auto pb-3">
            {% for item in business_news_list %}
            <div
                class="col-9 px-2 col-sm-6 col-md-6 col-lg-4 col-xl-4 ">

                {% include 'business_news/_cards/_business_news_card_title_image.html' %}
            </div>
            {% empty %}
            <div class="col-12 py-3 text-danger">
                <p>Sorry no news were found</p>
            </div>
            {% endfor %}
        </div>
        <div class="pt-3">

            <a class="btn btn-lg rounded-5 py-3 px-4 btn-primary" href="{% url 'blog:article-list' %}"><i
                    class="fa fa-arrow-right mr-3"></i> See more...</a>
        </div>
    </div>
</section>

<section class="page-content bg-secondary py-5">
    <div class="container py-3">
        <h2 class="page-title mb-5 border-left-thick-primary pl-3">Recent Articles</h2>
        <div class="d-flex overflow-x-auto">
            {% for article in articles %}
            <div
                class="col-9 px-1 px-sm-3 px-md-3  col-sm-6 col-md-4 col-lg-3 col-xl-3  pb-4 pb-sm-3  pb-md-5 ">

                {% include '_partials/_article_card.html' %}
            </div>
            {% empty %}
            <div class="col-12 py-3 text-danger">
                <p>Sorry no articles were found</p>
            </div>
            {% endfor %}
        </div>
        <div class="pt-3">

            <a class="btn btn-lg rounded-5 py-3 px-4 btn-primary" href="{% url 'blog:article-list' %}"><i
                    class="fa fa-arrow-right mr-3"></i> See more...</a>
        </div>
    </div>
</section>



<section class="page-content bg-light py-5">
    <div class="container py-3">
        <h2 class="page-title mb-5 border-left-thick-primary pl-3">Recent Investment Oppportunities</h2>
        <div class="d-flex overflow-x-auto">
            {% for item in investment_opportunities %}
            <div
                class="col-9 px-1 px-sm-3 px-md-3  col-sm-6 col-md-4 col-lg-3 col-xl-3  pb-4 pb-sm-3  pb-md-5 ">

                {% include 'pages/_cards/_investment_opportunity_card.html' %}
            </div>
            {% empty %}
            <div class="col-12 py-3 text-danger">
                <p>Sorry no articles were found</p>
            </div>
            {% endfor %}
        </div>
        <div class="pt-3">

            <a class="btn btn-lg rounded-5 py-3 px-4 btn-primary" href="{% url 'investment-opportunity-list' %}"><i
                    class="fa fa-arrow-right mr-3"></i> See more...</a>
        </div>
    </div>
</section>

<section class="page-content pb-5">
    <div class="bg-light py-5  ">
        <div class="container ">
            {{ configuration.about_us | safe }}

        </div>


    </div>
</section>

{% endblock %}