<div class="item-card bg-white rounded p-2 pb-sm-1 pt-sm-3 px-sm-3   h-100 overflow-hidden">
    <a href="{{ article.get_absolute_url }}">

        <div class="item-card-image">
            <img src="{{ article.image.url }}">
        </div>
    </a>
    <div class="item-card-description px-0">
        <a href="{{ article.get_absolute_url }}">

            <p class="item-card-name">{{ article.title }}</h5>
                <p class="m-0 text-m">{{ article.sub_title }}</p>
        </a>
        {{ article.categories.all }}
        {% with article.categories.all as categories %}
        {{ categories }}
        <div class=" {% if categories %}mt-3{% endif %}">
            {% for category in categories %}aadf
            <a href="{{ cateory.get_absolute_url }}" class="{% if not forloop.counter0 == 0 %}border-left{% endif %} px-1 text-info">{{ category }}</a>
            {% endfor %}
        </div>
        {% endwith %}
    </div>
</div>