<div>
    <!-- put component code here -->
    <div class="bg-white pt-4 px-4 shadow-lg rounded-lg">
        <div class="card-body ">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Amount</label>
                    <input unicorn:model.lazy="amount" type="number" class="form-control  py-4 form-control-lg" style="font-size: 24px; font-weight: bold;">
                </div>
            </div>
            <div class="col-6">

                
                <div class="form-group">
                    <label>From</label>
                    <select unicorn:model.lazy="from_" class="form-control">
                        {% for currency in currencies %}
                        <option  value="{{ currency.symbol }}">{{ currency.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>


            <div class="col-6">

                <div class="form-group">
                    <label>To</label>
                    <select unicorn:model.lazy="to" class="form-control">
                        {% for currency in currencies %}
                        <option  value="{{ currency.symbol }}">{{ currency.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-12">
                <button class="btn d-flex justify-content-center align-items-center btn-primary btn-lg w-100"
                    unicorn:click="convert">Convert
                    <span unicorn:loading class="ms-3 loading spinner"></span>
                </button>
            </div>
            <div class="col-12 ">
                <h6 class="font-weight-bold pt-2">Result</h6>
                <div class="bg-light p-4 text-center">
                    <h2 class="font-weight-bold">{{ result }}</h2>
                </div>
            </div>
            
        </div>
        </div>
    </div>
</div>
