/* Sticky footer styles
-------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

:root {
  --primary-color: #1880c0;
  --accent-color: #f79420;
  /* --main-background: #fafaff; */
  --main-background: #e7f8f7;
  --secondary-background: #f2f1f7;
  --white-color: white;
  --light-color: #aaa;
  --dark-color: #444;
  --header-font-size: 2em;
}

body.dark-mode {
  --light-color: #777;
  --main-background: #333;
  --white-color: #444;
  --dark-color: #ffffff;
}

/* Colors */

.bg-transparent {
  background: transparent !important;
}

.bg-white {
  background: var(--white-color) !important;
}

.bg-primary {
  background: var(--primary-color) !important;
}

/* .bg-light {
  background: var(--light-color) !important;
} */

.bg-main {
  background: var(--main-background) !important;
}
.bg-secondary {
  background: var(--secondary-background) !important;
}
.bg-dark {
  background: var(--dark-color) !important;
}

.bg-accent {
  background: var(--accent-color) !important;
}

.custom-btn-primary {
  background: var(--primary-color) !important;
  color: white;
}

.custom-btn-primary:hover {
  background: var(--primary-color) !important;
}

.btn-accent {
  background: var(--accent-color) !important;
}

.btn-accent:hover {
  background: var(--accent-color) !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.text-accent {
  color: var(--accent-color) !important;
}

.text-light {
  color: var(--light-color) !important;
}

.text-white {
  color: var(--white-color) !important;
}

.text-dark {
  color: var(--dark-color) !important;
}

.text-white-fixed {
  color: white;
}

.text-dark-fixed {
  color: #333;
}

.bg-dark-fixed {
  background: #333;
}

.bg-light-fixed {
  background: #ccc;
}

.text-light-fixed {
  color: #ccc;
}

/* End colors */

body {
  /*background: linear-gradient(134deg, var(--main-background), var(--secondary-background), #e7ebf8);*/
  background: #fafaff;

  /*font-family: 'Open sans', sans-serif; */
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2em;
  color: var(--dark-color);
  line-height: 1.6;
  font-weight: 400;
}
.text-lg-sm {
  font-size: 1em;
}

#navbarSupportedContent.show{
  display: block;
  
  width: 90%;
  max-width: 400px;
  height: 100%;
  z-index: 100;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  animation: shownavbar 0.4s ease-in;
}
@keyframes shownavbar {
  from {
    left: -400px;
  }
  to {
    left: 0;
  }
}
#navbarSupportedContent {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: white;
  display: none;
  flex-direction: column;
}
#navbarSupportedContent .navbarNav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.pricing-header {
  max-width: 700px;
}
.carousel-item {
  height: 50vh; 
  
}

.footer {
  /* Set the fixed height of the footer here */
  /* Vertically center the text there */
  background-color: var(--main-background);
}

.container-slim {
  max-width: 680px;
}

textarea.form-control {
  height: 100px;
}

.products-grid {
  padding: 1.2rem 0.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-template-rows: auto;
  background: var(--white-color);
  gap: 0.7em;
}

.product-detail-image {
  max-height: 70vh;
}

.product-detail-image img {
  max-height: 70vh;
  width: 100%;
  object-position: center;
  object-fit: contain;
}

.product-card {
  background: var(--white-color);
  color: var(--dark-color);
}

.product-card:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.09);
}
.item-card:hover {
  
  box-shadow:0 0 5px rgba(0, 0, 0, 0.09);
}
.item-card-image img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 150px;
}

.colored-link {
  color: #03a099;
}

.colored-link:hover {
  animation: changelinkcolor 1.2s ease-in;
}

.btn-tw{color:#fff;background-color:#55acee !important}.btn-tw:hover{color:#fff;background-color:#6cb7f0}
.btn-fb{color:#fff;background-color:#3b5998 !important}.btn-fb:hover{color:#fff;background-color:#4264aa}
.btn-li{color:#fff;background-color:#0082ca !important}.btn-li:hover{color:#fff;background-color:#0092e4}
.btn-whatsapp{color:#fff;background-color:#25d366 !important}.btn-whatsapp:hover{color:#fff;background-color:#36dc74}
@keyframes changelinkcolor {
  from {
    color: #03a099;
  }

  to {
    color: linear-gradient(to right, #03a099, var(--accent-color))
  }

}

.item-card-description {
  padding: 0.9em 0.9em;
}

.item-card-name {
  color: var(--dark-color);
  font-weight: bold;
  margin: 0;
}

.product-card-category {
  color: var(--dark-color);
  font-size: 0.9em;
  margin: 0;
  padding-bottom: 5px;
}

.product-card-discount-price {
  text-decoration: line-through;
  color: var(--light-color);
  display: inline-block;
  margin: 0;
  font-size: 0.7rem;
}

.product-card-price {
  font-weight: bold;
  margin: 0;
  display: inline-block;
}

a, a:hover {
  color: unset;
  text-decoration: none;
}

#search {
  display: none;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#search.show{
  display: block;
  z-index: 99;
}

.header-section {
  padding-top: 3em;
  padding-bottom: 3em;
  
  color: white;
  position: relative;
}
.header-section .background-image-clipped {
  width: 100%;
  position: absolute;
  background: linear-gradient(134deg, var(--primary-color), var(--secondary-background)); 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  flex-direction: row-reverse;
  
}
.header-section .background-image-clipped img {
  height: 100%;
  width: 50%;
  object-fit: cover;
  object-position: center;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
  filter: contrast(70%) ;
}


.nav-section-title{
  text-transform: uppercase;
}
.page-title {
  font-weight: bold;
  font-size: var(--header-font-size);
  text-transform: uppercase;
}
.page-banner-img {
  max-height: 60vh;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.sidebar-navitem {
  padding: 20px 5px;
  margin: 5px 0;
  position: relative;
  display: flex;
  align-items: center;
}

.sidebar-nav {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-navitem:hover {
  position: relative;
  border-bottom: 2px solid #444;
  border-top: 2px solid #444;
}

.overflow-x-auto {
  overflow-x: auto;
}

body * {
  scrollbar-width: thin;
}

body *::-webkit-scrollbar {
  height: 5px;
}

body *::-webkit-scrollbar-track {
  background: transparent;
}

overflow-auto::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body *::-webkit-scrollbar-thumb {
  background: #ccc;
}

.overflow-x-auto::-webkit-scrollbar {
  height: 5px;
}

/* Track */

.overflow-x-auto::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

.overflow-x-auto::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #777;
}
.overlay{
  position: absolute;
  z-index: 1;
  background:linear-gradient(to right, black,rgba(0, 0, 0, 0.85)  ,rgba(0, 0, 0, 0.4));
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 567px) {
  :root {
    --header-font-size: 1.4em;
  }

  /* For mobile devices */
  .sidebar-navitem .text {
    display: none;
  }

  .sidebar-navitem:hover .text {
    min-width: 150px;
    height: 100%;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 100%;
  }
  .carousel-item {
    height: 55vh; 
    
  }
  
}


.alert-error {
  background: rgb(196, 55, 55);
  color: white;
}

.banner-slide-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 10px;
}

.banner-slide {
  min-width: calc(50% - 10px);
  border-radius: 10px;
}

.banner-slide.product-banner-slide {
  min-width: 100%;
  width: 100%;
}

.banner-slide.product-banner-slide img {
  height: 350px;
}

.banner-slide:first-child:nth-last-child(1) {
  width: 100%;
}

.banner-slide.product-banner-slide:first-child:nth-last-child(1) {
  width: 100% !important;
}

.banner-slide img {
  height: 200px;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.banner-slide-300 img {
  height: 350px;
}
.disclaimer-image-container {
  opacity: 0.7;
}
.border-left-thick-red{
  border-left: 6px solid #dc3545;
}
.border-custom-primary {
  border-color: var(--primary-color);
}

.border-left-thick-primary{
  border-left: 6px solid var(--primary-color);
}
.team-card {
  position: relative;
  z-index: 1;
}
.team-card::before {
  content: "";
  position: absolute;
  background: white;
  border-left: 2px solid #1880c0;
  border-bottom: 3px solid var(--accent-color);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.09);
  top: 75px;
  min-height: 100px;
  z-index: -1;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
}

@media screen and (max-width:992px) {

  /* Medium screen */
  .bg-lg-none {
    background: unset !important;
  }
}

@media screen and (max-width:768px) {

  /* Medium screen */
  .bg-md-none {
    background: unset !important;
  }
  .disclaimer-image-container {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    z-index: -1;
    }
}

@media screen and (max-width: 576px) {
  body {
    font-size: 1em;
  }
  .text-lg {
    font-size: 1.2em;
  }
  
  .text-md {
    font-size: 1em;
  }
  
  .text-sm {
    font-size: 0.9em;
  }
  

  /* sm small screen */
  .bg-xs-none {
    background: unset !important;
    background-color: unset !important;
  }

  .banner-slide.product-banner-slide {
    min-width: 90%;
    width: 90%;
  }

  .banner-slide-300 img {
    height: 150px;
  }

  .banner-slide img {
    height: 150px;
  }

  .banner-slide {
    width: 90%;
    min-width: calc(90% - 10px);
  }

  .banner-slide-container {
    grid-auto-flow: row;
    grid-auto-columns: unset;
    grid-template-rows: repeat(1fr, 2);
    gap: 10px;
  }
  
}

.h-250 {
  height: 250px;
}

.img-default {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.navbarSearchContainer.make-active #navbarSearchTogglerOpen {
  display: none;
}

.navbarSearchContainer.hidden #navbarSearchTogglerClose {
  display: none;
}

.navbarSearchContainer.make-active #navbarSearchTogglerClose {
  display: block;
}

.navbarSearchContainer.make-active #navbarSearchInput {
  display: block;
}

#navbarSearchInput {
  transition: 2.6s ease-in;
  display: block;
}

#navbarSearchTogglerClose {
  display: block;
}

.navbarSearchContainer.hidden #navbarSearchInput {
  display: none;
  width: 0;
  border-radius: 0;
}

.custom-search-form-control {
  min-width: 50px;
  width: 100%;
  padding: 15px 5px 15px 20px;
  border: none;
  outline: none;
  background: transparent;
}

.navbarSearchContainer.make-active {
  border-radius: 25px;
  background: #f4f4ff;
}

.custom-pagination {
  list-style: none;
}

.custom-page-item.active .page-link {
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white-color);


}


.custom-page-item {
  padding: 0.1em 0.5em;
}

.custom-page-item .page-link.no-style {
  border: none;
  padding-left: 0;
  padding-right: 0;
  background: none;
  font-weight: bold;
}

.custom-page-item .page-link {
  background: var(--white-color);
  color: var(--primary-color);
  padding: 1.2em 1.5em;


}
.custom-page-item .page-link:not(.no-style):not(.active):hover {
  background: var(--main-background);
  box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.09);
}

.navbarSearchInput {
  padding: 2em 4em;
  border-radius: 3em;
  border: none;
  background: var(--main-background);
  width: 100%;

}

table.table-right > tbody > tr > td:nth-child(2) {
  text-align: right;
}


.subscribe-title {
  font-size: 2.2em;
}
.newsletter-shadow {
  border-radius: 0px 100px 0px 00px;
  overflow: hidden;
  box-shadow: 10px 10px 20px   rgba(247, 108, 184, 0.4);
}

@media  only screen and (min-width: 1000px) {
  .subscribe-title {
   font-size: 3em;
  } 
 }
@media  only screen and (min-width: 500px) and (max-width: 680px) {
 .subscribe-title {
  font-size: 1.8em;
 } 
}